<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <service
            android:name="com.farsitel.bazaar.service.UpdateCheckService"
            android:exported="true">
        <intent-filter>
            <action android:name="com.farsitel.bazaar.service.UpdateCheckService.BIND" />
        </intent-filter>
    </service>
</manifest>

